FORMAT: 2A
HOST: http://api.credit.com.br

# API Simulation Credit

API para realizar simulações de crédito, permitindo calcular valores totais, parcelas mensais e juros.

## Group Empréstimo

### Simulação de Empréstimo [/simulate-loan]

#### Simular [POST]

+ Simula um empréstimo com base nos dados fornecidos e retorna os detalhes da simulação.

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
                "loanAmount": 25000.01,
                "birthDate": "2000-01-01",
                "repaymentTermMonths": 12,
                "interestType": "variable",
                "currency": "BRL"
            }

    + Attributes (object)
        + loanAmount: 25000.01 (number, required) - Valor do empréstimo.
        + birthDate: `2000-01-01` (string, required) - Data de nascimento no formato ISO 8601.
        + repaymentTermMonths: 12 (number, required) - Prazo de pagamento em meses.
        + currency: `BRL` (string, optional) - Moeda utilizada. Valores permitidos BRL, USD, EUR, GBP.
        + interestType: variable (string, optional) - Tipo de taxa de juros. Valores permitidos variable, fixed.

+ Response 200 (application/json)
    + Headers

    + Body

            {
                "totalAmount": 25819.93,
                "monthlyInstallment": 2151.66,
                "totalInterest": 819.93
            }

    + Attributes (object)
        + totalAmount: 25819.93 (number) - Valor total a ser pago.
        + monthlyInstallment: 2151.66 (number) - Valor das parcelas mensais.
        + totalInterest: 819.93 (number) - Total de juros.

+ Response 400 (application/json)
    + Headers

    + Body

            {
                "status_code": 400,
                "error": "Missing required fields"
            }

    + Attributes (object)
        + status_code: 400 (number) - Código de status da requisição.
        + error: `Missing required fields` (string) - Mensagem de erro detalhada.

### Simulação em lote de Empréstimos [/simulate-loans]

#### Simular em lote [POST]

+ Simula um empréstimo com base nos dados fornecidos e retorna os detalhes da simulação.

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            [
                    {
                        "loanAmount": 25000.01,
                        "birthDate": "2000-01-01",
                        "repaymentTermMonths": 12,
                        "interestType": "variable",
                        "currency": "BRL",
                        "id": 1
                    },
                    {
                        "loanAmount": 15000.00,
                        "birthDate": "1980-05-12",
                        "repaymentTermMonths": 24,
                        "interestType": "fixed",
                        "currency": "USD",
                        "id": 2
                    }
            ]

+ Response 200 (application/json)
    + Headers

    + Body

            [
                {
                    "totalAmount": 25819.93,
                    "monthlyInstallment": 2151.66,
                    "totalInterest": 819.93,
                    "id": 1
                },
                {
                    "totalAmount": 25819.93,
                    "monthlyInstallment": 2151.66,
                    "totalInterest": 819.93,
                    "id": 2
                }
            ]

+ Response 400 (application/json)
    + Headers

    + Body

            {
                "status_code": 400,
                "error": "Missing required fields"
            }

    + Attributes (object)
        + status_code: 400 (number) - Código de status da requisição.
        + error: `Missing required fields` (string) - Mensagem de erro detalhada.